<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
</head>
<body>
    <body style="font-size:20px; padding:50px;">
    <h1>Sign In</h1>
    <form action="/login" method="post">
      <label style="margin-right:29px;" for="email">Enter your Email</label>
      <input id="email" type="email" name="email" placeholder="example@example.com" style="width: 300px" /></br>
      <label for="password">Enter your Password</label>
      <input id="password" type="password" name="password" placeholder="" style="width: 300px"/></br>
      <button style="margin-top:10px; margin-left:430px;">Submit</button>
    </form>

</body>
</html>