<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <!-- External Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/vendor/moment.js"></script>


    <!-- App JS -->
    <script type="text/javascript" src="/scripts/register.js"></script>
  </head>

  <body style="font-size:20px; padding:50px;">
    <nav id="nav-bar">
      <img class="logo" src="/images/bird.png">
      <span class="header">Tweeter</span>
      <h1>Registration</h1>
    </nav>

    <section class="regist">
      <form action="/register" method="POST" style="margin-bottom:15px;">
        <label style="margin-right:29px;" for="name">Enter your Name</label>
        <input id="name" type="text" name="name" placeholder="Your name" style="width: 300px" /></br>
        <label style="margin-right:29px;" for="email">Enter your Email</label>
        <input id="email" type="email" name="email" placeholder="example@example.com" style="width: 300px" /></br>
        <label for="password">Enter your Password</label>
        <input id="password" type="password" name="password" placeholder="" style="width: 300px"/></br>
        <button id="btnRegisterUser" style="margin-top:10px; margin-left:430px;">Submit</button>
      </form>
    </section>
  </body>
</html>